.thead {
  background-color: #00ab66;
}
.detailed-view-heading {
  font-size: 1.5rem;
  /* color: #a07855ff; */
  text-shadow: 1px 1px #5cf38e;
  font-weight: bold;
}

.detailed-view {
  /* background-color: rgb(241, 229, 215); */
  border-radius: 5%;
  background-color: #5cf38e;
  padding-left: 3px;
  padding-right: 3px;

  /* box-shadow: -3px -2px 2px; */
}
.detailed-view-inner {
  background-color: rgb(241, 229, 215);
}
.card {
  background-color: rgb(251, 236, 218);
  /*; */
  box-shadow: 2px 2px 2px #5cf38e;
  /* rgb(251, 236, 218); */
}
.card-title {
  font-size: 1rem;
  font-weight: bold;
}
.card-body {
  font-size: 0.9rem;
  float: right;
}
.amber {
  color: #ffbf00;
}

.accordion {
  box-shadow: 2px 2px 2px #5cf38e;
  border-radius: 3%;
}
.accordion-heading {
  color: #000;
  /* color: #00ab66; */
  font-weight: bold;

  font-size: 1.2rem;
}
