.resources-thead {
  background-color: #009e60;
  color: #fff;
}

tbody {
  font-size: 0.9rem;
}

.requests-heading {
  font-size: 1.6rem;
  /* color: #a07855ff; */
  text-shadow: 1px 1px #5cf38e;
  font-weight: bold;
}
