.create-heading {
  font-size: 2rem;
  /* color: #a07855ff; */
  text-shadow: 1px 1px #5cf38e;
  font-weight: bold;
}
.create-project-form {
  border-radius: 2%;
  /* background-color: #50c878; */
  box-shadow: 2px 2px 2px 2px #50c878;
}

.form-label {
  font-weight: bold;
  font-size: 1rem;
}

::placeholder {
  color: rgb(212, 170, 133);
}
