.portfolio-heading {
  font-size: 1.5rem;
  /* color: #a07855ff; */
  text-shadow: 1px 1px #5cf38e;
  font-weight: bold;
}

.deletedRow {
  background-color: #e87e7e;
}
/* .edit-btn {
  background-color: #eed588;
}
.del-btn {
  background-color: #e87e7e;
} */
