.login-heading {
  font-size: 2rem;
  /* color: #a07855ff; */
  text-shadow: 1px 1px #5cf38e;
  font-weight: bold;
  /* background-color: rgb(242, 217, 195); */
}
.login-btn {
  background-color: #2e8b57;
  border-radius: 10%;
  box-shadow: 2px 2px #23ad51;
}

.login-form {
  border-radius: 2%;
  background-color: #50c878;
  box-shadow: -2px -2px 2px 2px rgb(105, 96, 96);
}

.forgot-password {
  /* color: #2e8b57; */
  color: purple;
  text-decoration: underline;
  font-weight: bold;
}
