.users-heading {
  font-size: 2rem;
  color: #000;
  text-shadow: 1px 1px #5cf38e;
  font-weight: bold;
}

/* .edit-btn {
  /* background-color: rgb(245, 234, 114); */
/* } */
/* .del-btn {
  background-color: #e87e7e;
} */
